.Rproj.user
.Rhistory
.RData
.Ruserdata
renv.lock
renv/
data/
others/
!others/journal*submissions/
explore/results
explore/shiny/financialization-asset-pricing/results/
.vscode/settings.json
docs/literature_files

/.quarto/

*.RData
